<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>375104837572-svjf28imip46vrhrcqkicru8254dvm4m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.375104837572-svjf28imip46vrhrcqkicru8254dvm4m</string>
	<key>API_KEY</key>
	<string>AIzaSyBXTdArGfmt-uASy0AwCJoM_jp4-vMbe-0</string>
	<key>GCM_SENDER_ID</key>
	<string>375104837572</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Com.ticket.gateway</string>
	<key>PROJECT_ID</key>
	<string>ticketgateway-ea134</string>
	<key>STORAGE_BUCKET</key>
	<string>ticketgateway-ea134.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:375104837572:ios:43811aa52e287aee533691</string>
</dict>
</plist>